---
- name: Install Filebeat
  apt:
    name: filebeat
    state: present

- name: Configure Filebeat
  template:
    src: templates/filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml
  notify:
    - Restart Filebeat

- name: Enable and start Filebeat service
  service:
    name: filebeat
    state: started
    enabled: yes

handlers:
- name: Restart Filebeat
  service:
    name: filebeat
    state: restarted
